@import url("jquery-ui-1.8.9.custom.css");

.logo > a {
    display: block
}

.nav {
    background-color: #bfdbee;
    width: 80%;
    font-size: 15px;
    color: #639 3D;
    Ffloat: top;
}

.nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 3em;
    overflow: hidden;
}

.nav > ul > li:first-child {
    margin-left: 15px
}

.nav > ul > li {
    margin-right: 15px;
    float: left;
}

.nav li.search_container {
    float: right
}

.nav a, .nav a:link {
    vertical-align: middle;
    text-decoration: none;
}
