*.pyc
*.swp
*.swo
*.swn
*.swl
*.swm
transparente.db
local_settings.py
media/img/personajes/*
media/cache/*

# Archivos de proyecto y temporales de Aptana
.project
.tmp*
.pydevproject

# elhoyos' personal folder notes
mynotes

# Windows garbage
Thumbs.db

# Temporary
index.html
