*.pyc
*.swp
*.swo
*.swn
*.swl
*.swm
transparente.db
local_settings.py
media/img/personajes/*
media/cache/*
apache/django.wsgi

# Archivos de proyecto y temporales de Aptana
.project
.tmp*
.pydevproject

Thumbs.db

# elhoyos' personal folder notes
mynotes
