*.pyc
*.swp
*.swo
*.swn
*.swl
*.swm
dev.db
local_settings.py
media/img/personajes/*
media/cache/*
apache/django.wsgi

# Archivos de proyecto y temporales de Aptana
.project
.tmp*
.pydevproject

# elhoyos' personal folder notes
mynotes

# Windows garbage
Thumbs.db
