<div class="nav">
    <ul>
        <li>
            <a href="{% url sobre %}">Sobre</a>
        </li>
        <li>
            <a href="{% url desarrolladores %}">Desarrolladores</a>
        </li>
        <li>
            <a href="{% url patrocinadores %}">Patrocinadores</a>
        </li>
        <li>
            <a href="{% url contactenos %}">Cont&aacute;ctenos</a>
        </li>
        <li class="search_container">
            <input id="search" type="text" size="50" />
            <input id="do_search" type="button" value="Buscar" />
        </li>
    </ul>
</div>