<!doctype html>

<!-- Visita http://html5boilerplate.com/ para más info sobre la plantilla -->
 
<!--[if lt IE 7 ]> <html lang="es" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Colombia Transparente | {{ title }}</title>
  <meta name="description" content="Colombia Transparente, trae la verdadera democracia.">
  <meta name="author" content="Equipo Colombia Transparente ">
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Colombia, Transparente, Politica, govierno, Promesas, estado" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/style.css?v=2">
  
  <script src="media/js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

  <div id="container">
    <header>
		{% block header %} {% endblock %}
    </header>
    
    <div id="main">
		{% block main %} {% endblock %}
    </div>
    
    <footer>
		{% block footer %} {% endblock %}
    </footer>
  </div> <!-- end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="media/js/libs/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="media/js/plugins.js"></script>
  <script src="media/js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="media/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="media/js/profiling/yahoo-profiling.min.js"></script>
  <script src="media/js/profiling/config.js"></script>
  <!-- end profiling code -->


  <!-- change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>