<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="es" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% if titulo %}{{ titulo }} - {% endif %}ColombiaTransparente</title>
    <meta name="description" content="{{ descripcion|truncatewords:30|default:'ColombiaTransparente es una comunidad de cuidadanos dedicados a eveluar el estado de las promesas de los politícos.' }}" />
    <meta name="author" content="ColombiaTransparente" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="{% for etiqueta in etiquetas %}{{ etiqueta }}, {% endfor %}Colombia, Transparente, Politica, gobierno, promesas, estado" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block og %}
    <meta property="og:title" content="ColombiaTransparente" />
    <meta property="og:description" content="{{ descripcion|truncatewords:30|default:'ColombiaTransparente es una comunidad de cuidadanos dedicados a eveluar el estado de las promesas de los politícos.' }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ MEDIA_URL }}img/logo.jpg" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="ColombiaTransparente" />
    <meta property="fb:admins" content="513406455" />
    <meta property="fb:app_id" content="170808489629869" />
    {% endblock %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/framework.css">
    <script src="{{ MEDIA_URL }}js/libs/json2.min.js"></script>
    <script src="{{ MEDIA_URL }}js/libs/modernizr-1.6.min.js"></script>
</head>
    <body>
<div id="wrapper">
<div id="wrapperContainer">

<div id="top">
<div id="topLeft">
<div id="logo">
    <p><a href="/"><img src="{{ MEDIA_URL }}img/logo.png" alt="ColombiaTransparente Logo" /></a></p>
</div><!--END OF LOGO-->
<div id="quote">
<p>Un recurso sin animos de lucro e imparcial.</p>
<p><span>Todos pueden ayudar.</span></p>
</div><!--END OF QUOTE-->
</div><!--END OF TOP LEFT-->
<div id="topRight">
<div id="login">
<ul>
<li><a href="#">ENTRE</a> <span>|</span></li>
<li><a href="#">REGISTRO</a></li>
</ul>
</div><!--END OF LOGIN-->
<div id="socialMedia">
<ul>
<li class="siguenos">SIGUENOS</li>
<li id="facebook"><a href="https://www.facebook.com/pages/ColombiaTransparente/165517056812680">FACEBOOK</a></li>
<li id="twitter"><a href="http://twitter.com/coltransparente">TWITTER</a></li>
</ul>
</div><!--END OF SOCIAL MEDIA-->
</div><!--END OF TOP RIGHT-->
</div><!--END OF TOP-->

<div id="header">
<div id="personajeHeader">
    <p><img src="{{ MEDIA_URL }}img/santos_headerimg.png" alt="Etiquetas de Personajes" /></p>
</div><!--END OF PERSONAJE HEADER -->

<div id="etiquetasHeader">
    <p><img src="{{ MEDIA_URL }}img/salud_headerimg.png" alt="Etiquetas de Salud" /></p>
</div><!--END OF PERSONAJE HEADER -->

<div id="searchBar">
<h1>Busca con Personajes y Etiquetas:</h1>
<form method="get" id="searchform" action="">
<fieldset class="search">
	<input type="text" class="box" id="search" />
	<button class="btn" id="do_search" title="Buscar">Search</button>
</fieldset>
</form>
</div><!--END OF SEARCH BAR-->
</div><!--END OF HEADER-->

{% block main %} {% endblock %}

<div id="footerLogo"><img src="{{ MEDIA_URL }}img/logo_footer.png" alt="ColombiaTransparente" /></div><!--END OF FOOTER LOGO-->
<div id="footer">
<hr />
<div id="column1">

<h3>ColombiaTransparente</h3>
<ul>
<li><a href="#">Sobre Nosotros</a></li>
<li><a href="#">Patrocinadores</a></li>
<li><a href="#">Contactanos</a></li>
</ul>
</div><!--END OF COLUMN 1-->
<div id="column2">
<h3>Participa</h3>
<ul>
<li><a href="#">Columnistas</a></li>
<li><a href="#">Desarrolladores</a></li>
</ul>
</div><!--END OF COLUMN 1-->
<div id="column3">
<h3>Encuentranos En</h3>
<ul>
<li><a href="https://www.facebook.com/pages/ColombiaTransparente/165517056812680">Facebook</a></li>
<li><a href="http://twitter.com/coltransparente">Twitter</a></li>
</ul>
</div><!--END OF COLUMN 1-->
<div id="column4">
<h3>Twitter</h3>
</div><!--END OF COLUMN 1-->


</div><!--END OF FOOTER-->


</div><!--END OF WRAPPER CONTAINER-->
</div><!--END OF WRAPPER-->
<div id="copyright">
<p>Copyright 2011 ColombiaTransparente</p>
</div>
            
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ MEDIA_URL }}js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
		<script src="{{ MEDIA_URL }}js/libs/jquery-ui-1.8.9.custom.min.js"></script>


        <!-- scripts concatenated and minified via ant build script-->
        <script src="{{ MEDIA_URL }}js/plugins.js"></script>
        <script src="{{ MEDIA_URL }}js/script.js"></script>
	<script src="{{ MEDIA_URL }}js/ct.js"></script>
        <!-- end concatenated and minified scripts-->


        <!--[if lt IE 7 ]>
        <script src="{{ MEDIA_URL }}js/libs/dd_belatedpng.js"></script>
        <script> DD_belatedPNG.fix('img, .png_bg'); </script>
        <![endif]-->
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({appId: '170808489629869', status: true, cookie: true,
                xfbml: true});
            
            // catch the Like button events
            FB.Event.subscribe('edge.create', function(response) {
                alert('Like It!');
            });

            FB.Event.subscribe('edge.remove', function(response) {
                alert('Unlike It!');
            });
          };
          (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
              '//connect.facebook.net/es_CO/all.js';
            document.getElementById('fb-root').appendChild(e);
          }());
        </script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20905478-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
