{% extends "base.html" %}

{% load transparencia_extras %}

{% block main %}
    <h2>{{ personaje.nombre }} </h2>
	<span class="cargo_actual">{{ personaje.cargoactual }}</span>
	<p><img src="{{ personaje.image }}" /></p>
	<div class="otros_cargos">
        <ul>
        {% for cargo in cargos %}
            <li>cargo.titulo</li>
		{% endfor %}
		</ul> 
	</div>
    <div class="scorecard">
        {% for total, percent in scorecard %}
        <ul class="chartitem">
            <li>
                <span class="estatus">{{ forloop.counter0|estatus }}</span>
                <span class="cantidad">{{ total }}</span>
                <span class="barra">{{ percent }}</span>    
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="descripcion">{{ personaje.descripcion }}</div>
    <div class="promesas_container">
        <h3>Promesas</h3>
        {% if promesas %}
        <ul class="promesas_list">
            {% for promesa in promesas %}
            <li>
            <h4><a href="{% url promesa promesa.slug %}">{{ promesa.titulo }}</a></h4>
                <span class="estatus">{{ promesa.estatus|estatus }}</span>
                <span class="personaje_promesa">
                    {% for personaje in promesa.personajes %}
                    {{ personaje }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </span>
                <p>{{ promesa.descripcion|truncatewords_html:30 }}</p>
            </li>
            {% endfor %}    
        </ul>
        {% else %}
        <p class="mensaje">Que triste. Todavía no tenemos propuestas para este personaje.</p>
        {% endif %}
    </div>      
{% endblock %}
