{% extends "base.html" %}

{% load thumbnail %}
{% load transparencia_extras %}

{% block main %}

    <fb:like show_faces="true" width="450"></fb:like>

    <div class="votacion">
    	<img src="{{ MEDIA_URL }}img/up.png" />
		<span>{{ promesa.diferencia }}</span>
		<img src="{{ MEDIA_URL }}img/down.png" />
    </div>
    <h2>{{ promesa.titulo }} </h2>
	<span class="estatus">{{ promesa.estatus|estatus }}</span>
	<div class="personaje">
		{% for cargo in promesa.cargos %}
		<ul>
            <a href="{% url personaje cargo.personaje.slug %}"><span class="nombre">{{ cargo }}</span></a>
            {% thumbnail cargo.personaje.image "50x50" crop="center" as im %}
            <img src="{{ im.url }}" />
            {% endthumbnail %}
		</ul>
		{% endfor %}
	</div>
	
	<div class="fb_share">
		<!-- Acá se coloca el snippet del share de facebook -->
	</div>
	
    <ul class="etiquetas">
        {% for etiqueta in etiquetas %}
        <li><a href="{% url etiqueta etiqueta.texto %}">{{ etiqueta.texto }}</a></li>
        {% endfor %}
    </ul>
	
	<p class="decripcion">
		{{ promesa.descripcion }}
	</p>
	
	<div class="fb_comments">
        <!-- Acá se coloca el snippet del 'comments' de facebook -->
    </div>

	<fb:comments numposts="10" width="425" publish_feed="true"></fb:comments>
{% endblock %}
