{% extends "base.html" %}

{% load thumbnail %}
{% load transparencia_extras %}
{% load markup %}

{% block og %}
    <meta property="og:title" content="{{ titulo }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ MEDIA_URL }}img/logo.jpg" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="ColombiaTransparente" />
    <meta property="fb:admins" content="513406455" />
    <meta property="fb:app_id" content="170808489629869" />
{% endblock %}

{% block main %}

<input id="element_id" value="{{ promesa.id }}" type="hidden" />
<input id="element_type" value="0" type="hidden" />
<div id="promesa"> 
    <div class="voting"> 
        <p class="up"><a href="#">Up</a></p> 
        <p><span>{{ promesa|diferencia }}</span></p> 
        <p class="down"><a href="#">Down</a></p> 
    </div> 
    <div class="topPromesas"> 
        <div class="tituloPromesa"> 
            <h2>{{ promesa.titulo }}</h2> 
        </div><!--END OF TITULO PROMESA--> 
		<!-- FIXME: la clase cumplida debe cambiar de acuerdo al estado de la promesa -->
        <div class="cumplida"> 
            <p>{{ promesa.estatus|estatus }}</p> 
        </div> 
         
        <!--END OF ESTATUS PROMESA--> 
    </div><!--END OF TOP PROMESAS--> 
    <div id="socialSharingPromesa"> 
        <ul> 
            <li><a href="#"><img src="{{ MEDIA_URL }}images/tweet.jpg" alt="Tweet This" /></a></li> 
            <li>
                <fb:like show_faces="true" width="450" layout="button_count" show_faces="false"></fb:like>
            </li>
            <li><a href="#"><img src="{{ MEDIA_URL }}images/share_btn.jpg" alt="Share Button" /></a></li> 
        </ul> 
    </div> 
    <!--END OF SOCIAL SHARING--> 
    <div class="bottomPromesa"> 
        <div id="personajes"> 
            <p class="personajes">Personajes:</p> 
			{% for cargo in promesa.cargos %}

			<!-- FIXME: la clase personajeEtiquetaSantos cambia de acuerdo al personaje -->
            <p id="personajeEtiquetaSantos">
                <a href="{% url personaje cargo.personaje.slug %}"><span>{{ cargo }}</span></a>
            </p>

			{% endfor %}
        </div> 
         
        </div>
        <div id="etiquetas"> 
            <p class="etiquetas">Etiquetas:</p> 
			{% for etiqueta in promesa.etiquetas %}
                <p class="etiquetaEtiqueta">
                    <span><a href="{% url etiqueta etiqueta.texto %}">{{ etiqueta.texto }}</a>
                    </span>
                </p>
			{% endfor %}
            <p class="agregarEtiqueta"><a href="#">Agregar Etiqueta</a></p> 
        </div> 
        <div id="bottomPromesaTxtEtiqueta"> 
            <h2>Actualizado Feb. 22, 2011 <span>por Alejandra Zuluaga</span></h2> 
            {{ promesa.descripcion|markdown:"safe, footnotes" }} 
            <!-- FIXME: El titulo "Fuentes" debe aparecer por encima de las fuentes
            <h3>Fuentes:</h3> 
            <p><a href="#">Semana - Por Que los Trabajos Son Buenos</a></p>--> 
        </div> 

        <div class="fb_comments">
            <!-- 'comments' de facebook -->
        </div>

        <fb:comments numposts="10" width="700" publish_feed="true"></fb:comments>
    </div><!--END OF BOTTOM PROMESA--> 
</div><!--END OF PROMESA -->
{% endblock %}
