{% extends "base.html" %}

{% load thumbnail %}
{% load transparencia_extras %}
{% load markup %}

{% block og %}
    <meta property="og:title" content="{{ titulo }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ MEDIA_URL }}img/logo.jpg" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="ColombiaTransparente" />
    <meta property="fb:admins" content="513406455" />
    <meta property="fb:app_id" content="170808489629869" />
{% endblock %}

{% block main %}

    <fb:like show_faces="true" width="450"></fb:like>

    <div class="votacion">
    	<img src="{{ MEDIA_URL }}img/up.png" />
		<span>{{ promesa.diferencia }}</span>
		<img src="{{ MEDIA_URL }}img/down.png" />
    </div>
    <h2>{{ promesa.titulo }} </h2>
	<span class="estatus">{{ promesa.estatus|estatus }}</span>
	<div class="personaje">
		{% for cargo in promesa.cargos %}
		<ul>
            <a href="{% url personaje cargo.personaje.slug %}"><span class="nombre">{{ cargo }}</span></a>
            {% thumbnail cargo.personaje.image "50x50" crop="center" as im %}
            <img src="{{ im.url }}" />
            {% endthumbnail %}
		</ul>
		{% endfor %}
	</div>
	
	<div class="fb_share">
		<!-- Acá se coloca el snippet del share de facebook -->
	</div>
	
    <ul class="etiquetas">
        {% for etiqueta in etiquetas %}
        <li><a href="{% url etiqueta etiqueta.texto %}">{{ etiqueta.texto }}</a></li>
        {% endfor %}
    </ul>
	
	<p class="decripcion">
		{{ promesa.descripcion|markdown:"footnotes" }}
	</p>
	
	<div class="fb_comments">
        <!-- Acá se coloca el snippet del 'comments' de facebook -->
    </div>

	<fb:comments numposts="10" width="700" publish_feed="true"></fb:comments>
{% endblock %}
